.my-5rem{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.goback{
  position: absolute;
  left: 5%;
  text-decoration: none;
}

.w-image{
  width: 70px;
  height: 70px;
}

@media (min-width: 576px) { 
  .w-image{
    width: 50px;
    height: 50px;
  }
}